@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  scroll-behavior: smooth;
}

#logo {
  width: 30px;
  height: 30px;
  padding-right: 10vw;
  padding-left: 2vw;
}

address {
  margin: 20px;
}

body {
  margin: 0;
  font-family: "Cabinet Grotesk Normal", sans-serif;
  letter-spacing: 0.6px;
}

.left-text.capital-letter::first-letter {
  font-size: 2rem;
  float: left;
  margin-right: 1rem;
}

.text-center {
  text-align: center;
}

#his-title {
  color: #1b1b32;
  font-size: 2rem;
  font-weight: 300;
}

.gray {
  background-color: #d0d0d0;
}

#contact {
  font-size: 4vw;
  color: #1b1b32;
  height: 100%;
  text-align: center;
  background-color: #d0d0d0;
}

.student-info {
  font-size: 3.2vw;
}

#mem-title {
  color: #1b1b32;
  font-size: 2rem;
  font-weight: 300;
}

.mem-type-title {
  color: #1b1b32;
  font-size: 1.8rem;
  font-weight: 250;
}

.contact-type-title {
  color: #1b1b32;
  font-size: 4vw;
  font-weight: 250;
}

#history-text {
  background-color: #d0d0d0;
  color: #1b1b32;
  top: 0px;
}

.left-text {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10%;
  width: 40%;
  overflow: auto;
}

.left-title {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15%;
  width: 40%;
  overflow: auto;
}

.right-title {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60%;
  width: 40%;
  overflow: auto;
}

.left-text.first {
  padding-top: 0px;
}

.left-text.title {
  padding-bottom: 20px;
}

.right-text {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50%;
  width: 40%;
  overflow: auto;
}

#history-text > p {
  text-align: justify;
}

#history {
  background-color: #d0d0d0;
  height: 100%;
  color: white;
  text-align: center;
}

#history-round {
  background-color: #223;
  height: 100%;
  color: white;
  text-align: center;
}

.rounded-cont {
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.rounded-cont-left {
  border-bottom-left-radius: 5%;
}

.rounded-cont-right {
  border-bottom-right-radius: 5%;
}

#history img {
  width: 15vw;
  height: 15vw;
  border-radius: 30% 20% 50% 20%;
}

#h1-history {
  font-weight: 400;
  font-size: 80px;
}

#h2-history {
  font-weight: 300;
  color: #7c7c7c;
  font-size: 40px;
}

#youtube-section {
  text-align: center;
  align-content: center;
  background-color: black;
  vertical-align: middle;
}

#top-header {
  width: 100%;
  height: 50px;
  background-color: #1b1b32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  color: white;
  z-index: 99;
}
.top-divider {
  padding-top: 50px;
}

.member-container {
  width: 25vw;
  height: auto;
  border-style: double black;
  box-sizing: content-box;
}

.member-photo {
  border-radius: 20% 20% 50% 50%;
  max-width: 150px;
  max-height: 200px;
  float: inherit;
}
.member-bio {
  text-overflow: inherit;
  overflow: visible;
  color: #383838;
  font-style: italic;
  text-align: justify;
}

#members {
  height: auto;
}

#title-header {
  font-weight: 500;
  padding-left: 50px;
}

#menu-list-sec > #menu-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
  padding-right: 20px;
}

.left-image {
  float: left;
  margin-right: 15px;
}

.right-image {
  float: right;
  margin-left: 15px;
}

.left {
  padding-left: 15%;
}

.right {
  padding-left: 60%;
}

#menu-list-sec > #menu-list > .menu-element {
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

#menu-list-sec > #menu-list > .menu-element a:hover {
  color: lightgray;
}

#menu-list-sec > #menu-list > .menu-element > a {
  text-decoration-line: none;
  color: white;
}

#title-header > a:hover {
  color: lightgray;
}

#title-header > a {
  text-decoration-line: none;
  color: white;
}
.clicky {
  cursor: pointer;
}

footer {
  background-color: #2a2a40;
  display: flex;
  justify-content: center;
}

footer,
footer a {
  color: #dfdfe2;
}

address {
  text-align: center;
  padding: 0.3em;
}

#gallery {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
}
.youtube-video {
  height: 70%;
  width: 100%;
}

#gallery img {
  width: 25%;
  height: 300px;
  object-fit: cover;
  margin-top: 8px;
  padding: 0 4px;
  border-radius: 10px;
}

@media (max-width: 800px) {
  #gallery img {
    width: 50%;
  }
  #history {
    height: auto;
  }

  #history-round {
    height: auto;
  }

  .member-photo {
    width: 100px;
    height: 120px;
  }
  #contact {
    height: 100%;
  }
    
}

#h2-title {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  color: #1b1b32;
}

/* Style the Image Used to Trigger the Modal */
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
    #contact {
        height: auto;
        padding-bottom: 15%;
    }
}

/* button Section */

.button {
  border-radius: 4px;
  text-align: center;
  font-size: 1.2em;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border: none;
}

.button-blue {
  //border-color: #2196F3;
  color: dodgerblue;
  background-color: #ffffff;
}

.button-gray {
  border-color: #ffffff;
  color: gray;
  background-color: #ffffff;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.btn-div {
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

#show-more-members {
  display: none;
}

/* Icons */

.social-icons {
    position: absolute;
}

#btn-gallery {
    padding-bottom: 4%;
}
